<%-include('header')-%>

    <!-- <div class="text-center center-div mt-5" id="login">
    <div class="container w-25 py-5 mt-5 main-box">
        <h3>Welcome to Express Dashboard</h3>
        <a href="/router/logout">Log-Out</a>
    </div>
</div> -->

<div class="second-body">
    <header class="fixed-top bglight">
        <nav class="navbar ">
            <div class="container-fluid">
                <a class="navbar-brand">Navbar</a>
                <div class="d-flex align-items-center">
                    <span class="material-icons blk ">account_circle</span>
                    <h5 class="blk mb-1 mx-3 ms-1 "><%=locals.user?user:"User"%></h5>
                    <a class="btn" href="/router/logout">Log-Out</a>
                    <!-- <button class="btn" href="/router/logout" type="submit">Log-Out</button> -->
                    </div>
                </div>
            </nav>
        </header>

        <section>
            <img src="/assets/bgprime-removebg.png" class="img-fluid" alt="...">
        </section>

        <div class="bg-2">
            <div class="container text-con">
                <h1>Our-Product's</h1>
            </div>

            <div class="container">
                <div class="row">
                    <div class="card col m-5 main-box" style="width: 18rem;">
                        <img src="/assets/pexels-demeter-attila-50924.jpg" class="card-img-top mt-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                            <div class="container cn">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="card col m-5 main-box" style="width: 18rem;">
                        <img src="/assets/pexels-demeter-attila-50924.jpg" class="card-img-top mt-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                            <div class="container cn">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="card col m-5 main-box" style="width: 18rem;">
                        <img src="/assets/pexels-demeter-attila-50924.jpg" class="card-img-top mt-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                            <div class="container cn">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card col m-5 main-box" style="width: 18rem;">
                        <img src="/assets/pexels-demeter-attila-50924.jpg" class="card-img-top mt-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                            <div class="container cn">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="card col m-5 main-box" style="width: 18rem;">
                        <img src="/assets/pexels-demeter-attila-50924.jpg" class="card-img-top mt-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                            <div class="container cn">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                    <div class="card col m-5 main-box" style="width: 18rem;">
                        <img src="/assets/pexels-demeter-attila-50924.jpg" class="card-img-top mt-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                            <div class="container cn">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    </div>
    <%-include('footer')-%>